body {
  width: 100%;
  height: 100%;
  background-image: url(/public/images/monaco-wallpaper.png);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.labels{
  font-size: 15px;
}
.filter-group{
  display: flex;
  flex-direction: column;
  padding-left: 0.5rem;
}
.item-grid {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 4rem;
  padding-left: 2rem;
  padding-right: 2rem;
  row-gap: 1rem;
  column-gap: 2rem;
  flex-wrap: wrap;
  font-size: 14px;
}
.name{
  font-size: 18px;
}
.no-drivers{
  text-align: center;
  padding-top: 3rem;
  color: white;
}
.back-to-top{
  position: fixed;
  bottom: 40px;
  right: 40px;
  color: red;
  opacity: 60%;
}
.back-to-top:hover{
  opacity: 100%;
  color: red;
  cursor: pointer;
}

.dropdown-menu {
  max-height: 15rem;
  overflow-y: scroll;
}

.favorites{
  color: white;
  font-size: 25px;
  cursor: pointer;
  color: #E4A11B;
  background-color: transparent;
  border-color: transparent;
  margin-left: 210px;
  margin-top: -46px;
  z-index: 2;
}
